@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

:root {
  --is-300: 300;
  --is-600: 600;

  --is-primary: #091c25;
  --is-secondary: #d2a62e;
  --is-light: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--is-300);
  font-size: 16px;
  background-color: var(--is-primary);
  color: var(--is-light);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  @media(max-width: 1200px) {
    max-width: 1140px;
  }
  @media(max-width: 992px) {
    max-width: 960px;
  }
  @media(min-width: 768px) {
    max-width: 720px;
  }
  @media(min-width: 576px) {
    max-width: 540px;
  }
}

.container-padding {
  padding: 20px;
}
